th:hover {
    background-color: lightskyblue;
}

td {
    height: 50px;
}

.white {
    background-color: white;
}

.red, red:hover {
    background-color: #d51f1d;
}

.yellow, yellow:hover {
    background-color: #ffc107;
}

.hidden {
    display: none;
}
